<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Your ideas worth spreading</h1>
  </div>

  <div class="panel-body">
    <%= form_for(@idea) do |f| %>
      <% if @idea.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

          <ul>
            <% @idea.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :full_name %><br>
        <%= f.text_field :full_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :title, "I'm a:" %><br>
        <%= f.select :title, options_for_select(Idea::TITLE) %>
      </div>

      <div class="form-group">
        <%= f.label :specs, "I have an idea for:" %><br>
        <%= f.select :specs, options_for_select(Idea::SPECS) %>
      </div>

      <div class="form-group">
        <%= f.label :body, "My Idea:" %><br>
        <%= f.text_area :body, class: "form-control", :rows => 4 %>
      </div>

      </div>

      <div class="panel-footer">
        <div class="form-group">
          <%= f.submit "Submit your Idea", class: "btn btn-primary" %>
        </div>
    <% end %>
    </div>
    </div>
