<div class="panel panel-default">
  <div class="panel-heading">

    <div class="pull-left">
      <div class="idea_user_name">
        <%= @idea.full_name %>
      </div>
      <div class="idea_user_title">
        <%= @idea.title %>
      </div>
    </div>

    <div class="pull-right">

      <div class="idea_specs">
        <%= @idea.specs %>
      </div>

      <div class="idea_user_email">
        <a href="mailto:<%= @idea.email %>" class="btn btn-primary btn-xs">Email</a>
      </div>

    </div>

    <div class="clearfix"></div>
  </div>

  <div class="panel-body">
    <div class="idea_show_body">
      <h1><%= @idea.body %></h1>
    </div>
  </div>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-primary" %>
    <%= link_to 'Back', ideas_path, class: "btn btn-primary" %>
  </div>
</div>