<div class="p_bar">

  <div class="profile">
    <div class="picture sh-orange">
      <%= image_tag application.avatar.url(:thumb) %>
    </div>
    <div class="description">
      <p class="name"><%= application.first_name %> <%= application.last_name %></p>
      <%= link_to "Go to Application", application, class: "btn btn-primary btn-xs view_link" %>
      <br>
      <br>
      <div class="SocialHandle">
        <% if application.twt_link.present? %>
          <%= link_to "Twitter", application.twt_link, :target => "_blank", class: "btn btn-primary btn-xs" %>
        <% end %>
        <% if application.fb_link.present? %>
          <%= link_to "Facebook", application.fb_link, :target => "_blank", class: "btn btn-primary btn-xs" %>
        <% end %>
        <% if application.lin_link.present? %>
          <%= link_to "Linked in", application.lin_link, :target => "_blank", class: "btn btn-primary btn-xs" %>
        <% end %>
      </div>
      <div class="emailz">
        <%= application.email %>
      </div>
    </div>

  </div>
</div>