<%= image_tag application.avatar.url(:thumb) %>
<td><%= application.first_name %></td>
<td><%= application.last_name %></td>
<td><%= application.phone %></td>
<td><%= link_to 'Show', application %></td>
<td><%= link_to 'Edit', edit_application_path(application) %></td>
<td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<br>