<div class="site-footer">

  <ul class="site-footer-links right">
    <li><%= link_to "Newsletter", newsletter_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Team", team_path %></li>
    <li><%= link_to "Blog", '#' %></li>
  </ul>

  <%= link_to root_path do %>
    <span class="mega-octicon octicon-mark-github">
    </span>
  <% end %>

  <ul class="site-footer-links">
    <li>© <%= Time.now.year %> TEDx University of Piraeus</li>
    <li><%= link_to "Facebook", "https://www.facebook.com/TEDxUniversityofPiraeus", :target => '_blank' %></li>
    <li><%= link_to "Twitter", "https://twitter.com/TEDxUniPi", :target => '_blank' %></li>
    <li><%= link_to "Linked in", 'http://www.linkedin.com/groups/TEDx-University-Piraeus-4728040', :target => "_blank" %></li>
    <li><%= link_to "Google+", 'https://plus.google.com/117473376210854211042', :target => "_blank" %></li>
    <li><%= link_to "Flickr", 'http://www.flickr.com/photos/tedxuniversityofpiraeus/', :target => "_blank" %></li>
    <li><%= link_to "Instagram", 'http://instagram.com/tedxuniversityofpiraeus', :target => "_blank" %></li>
    <li><a href="mailto:info@tedxuniversityofpiraeus.com">Contact</a></li>
  </ul>
</div>