<!DOCTYPE html>
<html>
<head>
  <title>TEDx University of Piraeus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>

<!-- Facebook JS SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=448513065253085";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <%= render 'layouts/header' %>

  <div class="container">

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, class: "alert alert-info") do%>
        <%=msg%>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%end%>

    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </div>

</body>
</html>
